OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_MODEL=qwen2.5-coder:7b
OPENSCAD_PATH=C:\Program Files\OpenSCAD\openscad.exe
HUGGINGFACE_TOKEN=hf_seu_token
HUGGINGFACE_IMAGE_MODEL=black-forest-labs/FLUX.1-schnell
SITE_URL=https://seu-dominio.com
GOOGLE_SITE_VERIFICATION=
